:root {
    /*Cor de fundo*/
    --cor-fundo: #1a1a2e;
    --bg-color-thead: #fafafb;
    --bg-color-tbody: #fff;


    /*Cor do texto*/
    --cor-titulo: #fff;
    --cor-texto: #c0c0c0;
    --color-thead: #585f6f;
    --color-tbody: #000
}


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formFaq {
    margin: 72px 100px 32px 0px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuMobile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.menuMobile button {
    width: 100%;
    font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }

    .formFaq {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;
        height: 100vh;
    }

}